<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated robosim -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="circus.robocalc.robosim.presentation.RoboSimModelWizardID"
            name="%_UI_RoboSimModelWizard_label"
            class="circus.robocalc.robosim.presentation.RoboSimModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RoboSimModelFile.gif">
         <description>%_UI_RoboSimModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated robosim -->
      <editor
            id="circus.robocalc.robosim.presentation.RoboSimEditorID"
            name="%_UI_RoboSimEditor_label"
            icon="icons/full/obj16/RoboSimModelFile.gif"
            extensions="robosim"
            class="circus.robocalc.robosim.presentation.RoboSimEditor"
            contributorClass="circus.robocalc.robosim.presentation.RoboSimActionBarContributor">
      </editor>
   </extension>
</plugin>
